<div class="text-center mt-3 container">
  <img
    src="/img/404-error.png
  "
    class="img-fluid"
    width="400px"
    alt=""
  />
  <h5>
    The page you are attempting to reach is currently not available. This may be
    because the page does not exist or has been moved.
  </h5>
</div>
