<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About</h1>
</div>
<div class="text-center mb-3">
  <img
    src="img/my-img.jpeg"
    alt="Laptop"
    width="220"
    height=""
    class="img-fluid"
  />
  <h4>Developer of the User Management System..</h4>

  <div class="pt-3">
    <p>
      This is a simple user management system developed with ❤️ by Marvinrose
    </p>
    <p>
      Check out my <a href="https://github.com/Marvinrose">GitHub Link</a> for the repo and
      feel free to connect!
    </p>
  </div>
</div>
